beautifulsoup4
pyTelegramBotAPI==3.7.3
importlib_metadata==1.7.0
numpy==1.19.0
zipp==3.1.0
aiodns==2.0.0
brotli==1.0.9
cchardet==2.1.6
cryptography==3.1.1
Cython==0.29.21
docutils==0.16
gunicorn==20.0.4
ipaddr==2.2.0
keyring==21.4.0
lockfile==0.12.2
lxml==4.6.1
mypy_extensions==0.4.3
ordereddict==1.1
Pillow==8.0.0
protobuf==3.13.0
pyOpenSSL==19.1.0
pytest==6.1.1
redis==3.5.3
simplejson==3.17.2
tokio==0.2.0
ujson==4.0.1
uvloop==0.14.0
wincertstore==0.2
